{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<h2 align="center">Мои карты</h2>
<div class="table_container">
    <h3 align="center">Карты</h3>
    <div id="accordion">
        {% if cards_|length == 0 %}
          <div class="inf">
            У вас нет карт
          </div> 
        {% else %}
          {% for i in cards_ %}
          <div class="card">
            <div class="card-header" id="heading{{ loop.index }}">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                  {{ i[0] }}
                </button>
              </h5>
            </div>
            <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#accordion">
              <div class="card-body">
                  <div class="item_card">
                      <div class="card_name">Название: {{ i[0] }}</div>
                      <div class="card_sum">Баланс: {{ i[1] }} руб.</div>
                      <div class="card_number">Номер карты: {{ i[2] }}</div>
                  </div>
              </div>
            </div>
          </div>
          {% endfor %}
        {% endif %}
    </div>
    <h3 align="center">Кредиты</h3>

    <div id="accordion">
        {% if credits_|length == 0 %}
          <div class="inf">
            У вас нет кредитов
          </div> 
        {% else %}
          {% for i in credits_ %}
          <div class="card">
            <div class="card-header" id="heading{{ loop.index }}">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#coapse{{ loop.index }}" aria-expanded="false" aria-controls="coapse{{ loop.index }}">
                  {{ i[0] }}
                </button>
              </h5>
            </div>
            <div id="coapse{{ loop.index }}" class="collapse" aria-labelledby="hding{{ loop.index }}" data-parent="#accordion">
              <div class="card-body">
                  <div class="item_card">
                      <div class="card_name">Название : {{ i[0] }}</div>
                      <div class="card_sum">Долг: {{ i[1] }} руб.</div>
                      <div class="card_percent">Процент: {{ i[2] }} %</div>
                      <div class="card_monthly_percent">Процент за неуплату: {{ i[2] }} %</div>

                  </div>
              </div>
            </div>
          </div>
          {% endfor %}
        {% endif %}
    </div>
      
    <h3 align="center">Вклады</h3>

    <div id="accordion">
        {% if o|length == 0 %}
          <div class="inf">
            У вас нет вкладов
          </div> 
        {% else %}
          {% for i in o %}
          <div class="card">
            <div class="card-header" id="headn{{ loop.index }}">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#cllps{{ loop.index }}" aria-expanded="false" aria-controls="cllps{{ loop.index }}">
                  {{ i[0] }}
                </button>
              </h5>
            </div>
            <div id="cllps{{ loop.index }}" class="collapse" aria-labelledby="headn{{ loop.index }}" data-parent="#accordion">
              <div class="card-body">
                  <div class="item_card">
                      <div class="card_name">Название : {{ i[0] }}</div>
                      <div class="card_sum">Сумма: {{ i[1] }} руб.</div>
                      <div class="card_percent">Процент: {{ i[2] }} %</div>

                  </div>
              </div>
            </div>
          </div>
          {% endfor %}
        {% endif %}
      </div>

</div>
<br>


{% endblock %}