{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<h2 align="center">Карты</h2>
<div class="table_container">
    <div class="j">
        <div class="jumbotron">
          <h1 class="display-4">Кредиты</h1>
          <p class="lead">Только в нашем банке хорошие проценты по кредиту. Вы можете подобрать условия на свой выбор</p>
          <hr class="my-4">
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/directions/credits/" role="button">оформить кредит</a>
          </p>
        </div>
    </div>

    <div class="j">
      <div class="jumbotron">
        <h1 class="display-4">Вклады</h1>
        <p class="lead">Вклад с максимальной доходностью на короткий срок. Вы можете подобрать условия на свой выбор</p>
        <hr class="my-4">
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/directions/contributions" role="button">оформить вклад</a>
        </p>
      </div>
    </div>

    <div class="j">
        <div class="jumbotron">
          <h1 class="display-4">Дебютовые карты</h1>
          <p class="lead">Только в нашем банке лучшие дебютовые карты. Вы можете подобрать условия на свой выбор</p>
          <hr class="my-4">
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/directions/cards/debut_cards" role="button">оформить кредит</a>
          </p>
        </div>
    </div>

    <div class="j">
        <div class="jumbotron">
          <h1 class="display-4">Пенсионные карты</h1>
          <p class="lead">Только в нашем банке лучшие пенсионные карты. Вы можете подобрать условия на свой выбор</p>
          <hr class="my-4">
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/directions/cards/pension_cards" role="button">оформить кредит</a>
          </p>
        </div>
      </div>
</div>
<br>

{% endblock %}