{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<h2 align="center">Главная страцица</h2>
<div class="table_container">
  <div class="content">
    <div class="ob" style="padding: 25px 0; font-size: 25px;">
      <div class="text" style="padding: 10px; top: 50%;">
        Почему вы должны выбрать наш банк?
       <p>Все кто выбирают наш банк несусветно богатеют. Наш банк самый лучший среди конкурентов.Только у нас вы найдете лучшие проценты по кредиту , лучшие условия, максимальный доход со вкладов и не только.</p>
      </div> 
      <div class="j">
        <div class="jumbotron">
          <h1 class="display-4">Кредиты</h1>
          <p class="lead">Только в нашем банке хорошие проценты по кредиту. Вы можете подобрать условия на свой выбор</p>
          <hr class="my-4">
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/directions/credits/" role="button">оформить кредит</a>
          </p>
        </div>
      </div>
    
      <p> 9 из 10 экспертов выбирают наш банк, а 10-го подкупить не удалось. У нас самая отзывчивая техподдержка (находится в бета тесте (имеются неполадки)). Самое быстрое оформление карт, кредитов и не только.</p>
      
      <div class="j">
       <div class="jumbotron">
         <h1 class="display-4">Вклады</h1>
         <p class="lead">Вклад с максимальной доходностью на короткий срок. Вы можете подобрать условия на свой выбор</p>
         <hr class="my-4">
         <p class="lead">
           <a class="btn btn-primary btn-lg" href="/directions/contributions" role="button">оформить вклад</a>
         </p>
       </div>
      </div>

      <p> Вы можете переводить деньги на карты нашего банка без процентов. Миллионы довольных клиентов говорят о нашей репутации.</p>
      
      <div class="j">
        <div class="jumbotron">
          <h1 class="display-4">Дебютовые карты</h1>
          <p class="lead">Только в нашем банке лучшие дебютовые карты. Вы можете подобрать условия на свой выбор</p>
          <hr class="my-4">
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/directions/cards/debut_cards" role="button">оформить кредит</a>
          </p>
        </div>
    </div>

    <div class="j">
        <div class="jumbotron">
          <h1 class="display-4">Пенсионные карты</h1>
          <p class="lead">Только в нашем банке лучшие пенсионные карты. Вы можете подобрать условия на свой выбор</p>
          <hr class="my-4">
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/directions/cards/pension_cards" role="button">оформить кредит</a>
          </p>
        </div>
      </div>
      
      <p> Дизайн нашего сайта понятный и удобный даже для самых слаборазвитых. Все операции проходят открыто и вы можете отслеживать все процессы переводов(находится в разработке). В нашем банке работают только высококвалифицированные специалисты , которые прошли особую подготовку.</p>

    </div>
  </div>
</div>
<br>

{% endblock %}