{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<h2 align="center">Информация о банке</h2>
<div class="table_container">
    <div style="font-size: 16px;
    line-height: 1.5;
    font-family: 'Montserrat';
">
    <p> Банк – это финансовый институт, который производит разнообразные виды операций с деньгами и ценными бумагами. Банки – это финансово-кредитные учреждения, которые оказывают финансовые услуги правительству, физическим и юридическим лицам.</p> <p> Свойства банков:

<ul>
<li> извлечение прибыли;</li>
<li>осуществление банковских операций;</li>
<li>открытие и ведение банковских счетов физических и юридических лиц;</li>
<li>деятельность на основании лицензии государства;</li>
<li>отсутствие прав на совершение торговой, производственной или страховой деятельности.</li></ul>
</p>
<p>
Виды банков не многочисленны: центральные банки и коммерческие. Центральные банки – регулируют банковскую систему на государственном уровне, в том числе выпуск национальной валюты. Коммерческие банки ведут предпринимательскую деятельность в банковской системе.
</p>
<p>
Коммерческие банки бывают трех типов:
<ul>
<li>инвестиционные банки (инвестиции, ценные бумаги);</li> 
<li>сберегательные банки (вклады, депозиты);</li>
<li>универсальные (все виды банковской деятельности).</li>
</ul>
</p>
<p>
Функции банков.
 

Хранение денег клиента: первая исторически, и до сих пор одна из основных функций банка.
Перевод денег от одного клиента другому безналичным расчетом (путем изменения соответствующих записей).
Кредиты (кредиты имеют стимулирующее воздействие на производственную сферу экономики и на предпринимательство; кроме того, еще один положительный момент этой функции – создание дополнительной денежной массы).
В ресурсах банков привлеченный и заемный капитал преобладает над собственным, что влечет за собой повышенную ответственность перед клиентами-вкладчиками и кредиторами.
Одновременная работа с клиентами из разных сфер деятельности, в том числе с противниками (конкурентами).
Ресурсы банков состоят из собственного капитала и привлеченных средств. Собственный капитал – это резервный фонд банка, средство защиты в случае потери банком ликвидности и необходимости возврата вкладов. Собственный капитал состоит из:

уставного капитала (минимальный размер имущества банка);
фонды за счет прибыли;
добавочный капитал (доход на продаже ценных бумаг, на курсовой разнице и разнице при переоценке основных средств).
Привлечение средства в ресурсах банка – это:

депозиты физических и юридических лиц;
межбанковские кредиты;
векселя и облигации банка.
 
</p>
Банковская система.
 

Банковская система – это комплекс всех видов национальных банков и кредитных учреждений. Структура банковской системы состоит из двух уровней.

На верхнем уровне центральный или эмиссионный банк, который регулирует деятельность всей системы. На нижнем уровне коммерческие банки (универсальные и специализированные – инвестиционные, сберегательные, ипотечные, кредитные и т.д.).

Главные элементы в инфраструктуре банковской системы:

законодательные нормы;
регламент совершения операций;
учет, отчетность и обработка баз данных;
структура аппарата управления (руководства).
Банковская инфраструктура – это то, без чего не может нормально развиваться система банков; она представляет для банков такой же регулятор поведения, как для человека – моральные и правовые нормы.

 

Говоря о банках и системе банков, нельзя не упомянуть о понятии банковской тайны – своего рода кодекса чести банка. В некоторых странах всем сотрудникам банка запрещено распространять информацию о клиентах, их счетах и перемещениях средств.

</div>
</div>
<br>

{% endblock %}