{% extends "base.html" %}

{% block content %}

<h1>Оформление кредитной карты</h1>

<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.fio.label }}<br>
        {{ form.fio(class="form-control", placeholder="Иванов Иван Иванович") }}<br>
        {% for error in form.fio.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
       {% endfor %}
    </p>

    <p>
        {{ form.tel.label }}<br>
        {{ form.tel(class="form-control", placeholder="88005553535") }}<br>
        {% for error in form.tel.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
       {% endfor %}
    </p>

    <p>
        {{ form.nomer.label }}<br>
        {{ form.nomer(class="form-control", placeholder="1234567890") }}<br>
        {% for error in form.nomer.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
       {% endfor %}
    </p>

    <p>
        {{ form.vidan.label }}<br>
        {{ form.vidan(class="form-control", placeholder="11.11.1111") }}<br>
        {% for error in form.vidan.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
       {% endfor %}
    </p>

    <p>
        {{ form.place_of_work.label }}<br>
        {{ form.place_of_work(class="form-control", placeholder="Корпорация монстров")}}<br>
        {% for error in form.place_of_work.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
       {% endfor %}
    </p>

    <p>
        {{ form.sum_.label }}<br>
        {{ form.sum_(class="form-control", placeholder="12345") }}<br>
        {% for error in form.sum_.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
       {% endfor %}
    </p>

    <div class="transfer_card">
        <div class="dropdown">
            
            <div class="form-group">
                <label for="email">{{ form.transfer_card.label }}</label>
                {{ form.transfer_card(class="form-control") }}
            </div>
            
        </div>
    </div>

    <div class="transmitting_secret_code">
        <label for="email">{{ form.transmitting_secret_code.label  }}</label>
        {{ form.transmitting_secret_code(class="form-control", type="transmitting_secret_code") }}<br>
        {% for error in form.transmitting_secret_code.errors %}
            <p class="alert alert-danger" role="alert">
        {{ error }} }}
        </p>

        {% endfor %}
    </div>

    <p>
       {{ form.add_card(type="submit", class="btn btn-primary") }}
        
    </p>
    {{message}}
</form>
{% endblock %}